#container {
	background-color: blue;
	height: 960px;
	width: 960px;
}

.plain {
	width: 60px;
	height: 60px;
	background-color: red;
	float: left;
}

.hovered {
	width: 60px;
	height: 60px;
	background-color: black;
	float: left;
}

#button {
	text-align: center;
}