#container {
	background-color: red;
	height: 960px;
	width: 960px;
}

.row {
	width: 960px;
	height: 60px;
	background-color: green;
	float: left;
	display: table-cell;
}

.plain {
	width: 60px;
	height: 60px;
	background-color: red;
	float: left;
}

.hovered {
	width: 60px;
	height: 60px;
	background-color: black;
	float: left;
}

#button {
	width: 960px;
	text-align: center;
}

#reset{
	width: 100px;
	height: 40px;
}